.book-details-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
}

.details--sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 20px;
}

.details--photo {
    width: 250px;
}

.details--data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details--posts {
    grid-column: 2 / 3;
}

.details--btn {
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 22px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}