.book-details-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
}

.details--sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    padding: 10px;
    background-image: url(../images/bookshelf2.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.details--opaque {
    background-color: rgba(255, 255, 255, .2); 
    backdrop-filter: blur(1px);
    padding: 10px;
    margin-top: 40px;
}

.details--photo {
    width: 220px;
}

.details--data {
    margin: auto 35px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 350px;
}

.details--description {
    margin-bottom: 25px;
    text-align: left;
}

.details--posts {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}

.details--btn {
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 22px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.favorite-img {
    width: 50px;
}

.favorite-btn {
    all: unset;
    cursor: pointer;
}

.flex-row-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.white-text {
    color: white;
}

.italics {
    font-style: italic;
    font-weight: 350;
}

.author {
    margin-right: 250px;
}

hr {
    width: 70%;
    margin: 50px auto;
}