.header-books-container {
	margin-top: 120px;
	width: 50%;
	height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1.5px);
}


.header--text {
    color: white;
    position: absolute;
    top: 15%;
    left: 27%;
    box-shadow: 2px 2px 2px 1px;
}
