.navbar {
	display: flex;
	justify-content: space-between;
	height: 65px;
	background-color: #ede3da;
	border-bottom: 1px solid #9c8c84;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-icon {
	width: 30px;
	margin-left: 15px;
}

.favorites-page,
.about-page,
.sign-out {
	margin-right: 60px;
}

.home-page {
	margin-left: 40px;
}

@media screen and (max-width: 693px) {
	.home-page {
		font-size: 12px;
		margin-left: 0;
	}
	.favorites-page,
	.about-page,
	.sign-out {
		margin-right: 30px;
	}
}

.sign-out-btn {
	all: unset;
	cursor: pointer;
}
