.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url(../images/bookshelf.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.form-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: rgba(255, 255, 255, .2);
  backdrop-filter: blur(2px);
  padding: 10px;
  min-width: 35%;
}

.post-input,
.post-textarea {
	border-radius: 3px;
	margin: 10px auto;
	width: 100%;
}

.post-btn {
	font-size: 25px;
	padding: 8px;
	background-color: black;
	color: white;
}

label {
	font-weight: 650;
}