.post-container {
    display: flex;
    width: 85%;
    margin-left: 30px;
}

.trash-icon {
    width: 22px;
}

.post--buttons {
    display: flex;
    grid-column: 2 / 3;
    justify-content: right;
    margin-right: 20px;
}

.post--user {
    grid-column: 1 / 2;
    width: 20%;
}

.post--content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    width: 80%;
}

.post--user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 150px;
}

.button--icon {
    all: unset; 
    margin-right: 5px;
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-start;
}

hr {
    grid-column: 2 / 3;
    margin: 10px auto
}

p {
    text-align: left;
}

.italic {
    font-style: italic;
}
