.post-container {
    display: flex;
    width: 85%;
    margin-left: 30px;
}

.trash-icon {
    width: 22px;
}

.post--buttons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
}

.post--user {
    width: 20%;
}

.post--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    width: 80%;
}

.post--user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    font-size: 14px;
    overflow: hidden;
}

.button--icon {
    all: unset; 
    margin-right: 5px;
    margin-top: 20px;
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-start;
}

.posts-hr {
    margin: 10px auto;
    width: 80%;
    
}

p {
    text-align: left;
}

.italic {
    font-style: italic;
}

.no-btm-margin {
    margin-bottom: 0;
}

.sticker {
    max-width: 80px;
    border-radius: 50px;
    border: 1px solid black
}
